@{
    ViewData["Title"] = "CPanel";
}


<h4 class="display-4 "> Ishøj Item Lending System Control panel</h4>


@Html.ActionLink("Roles","Index","AddRoles",null,new {@class="btn btn-success"})

   
@Html.ActionLink("Owner","Index","Owners",null,new {@class="btn btn-success"})
@Html.ActionLink("Item","Index","Items",null,new {@class="btn btn-success"})
@Html.ActionLink("Lend","Index","Lends",null,new {@class="btn btn-success"})
@Html.ActionLink("Borrower","Index","Borrowers",null,new {@class="btn btn-success"})